.select {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--input-bg);
  cursor: pointer;

  &__direction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 100%;
    background-color: var(--accent-blue);
    fill: #ffffff;

    &_icon {
      display: flex;
      align-items: center;
      width: 30px;
      height: 100%;
      transform: rotate(90deg);

      &.revert {
        transform: rotate(270deg);
      }

      & svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__field {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    position: relative;

    & .open-list__arrow {
      fill: #ffffff;
      height: 20px;
      transform: rotate(180deg);
    }

    &.open {
      .select__list,
      .select-menu-overlay {
        display: block;
      }

      .open-list__arrow {
        transform: rotate(0deg);
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    padding: 0 10px;
    background-color: var(--input-bg);
    opacity: 0.9;
    z-index: 100;
  }

  &__list-item {
    padding: 8px 0;

    &.none {
      display: none;
    }
  }
}

.select-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-bg);
  opacity: 0.1;
  z-index: 10;
}

.no-order {
  margin-left: 10px;
}
